body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  #main {
    border: 1px solid black;
    width: 640px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .board-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 600px;
    margin: 10px;
  }
  
  .grid-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
  
  .ship-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }

  .hit-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }

  .miss-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
  }

  #game-over-container {
    border: 1px solid black;
  }

  #game-over-text {
    font-size: 3rem;
  }

  #winner-message {
    font-size: 1.1rem;
  }

  #restart-btn {
    border: none;
  }