body {
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  #main {
    border: 1px solid black;
    width: 640px;
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  
  .board-container {
    border: 1px solid black;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    height: 600px;
    margin: 10px;
  }
  
  .grid-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aqua;
  }
  
  .ship-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: grey;
  }

  .hit-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
  }

  .miss-square {
    border: 1px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkblue;
  }

  #game-over-container {
    height: 300px;
    width: 300px;
    border: 1px solid black;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background-color: white;
    padding: 1rem;
    text-align: center;
  }

  #game-over-text {
    font-size: 3rem;
  }

  #winner-message {
    font-size: 1.2rem;
  }

  #restart-btn {
    border: none;
    padding: 2rem;
    font-size: 1.2rem;
    background-color: darkblue;
    color: white;
    border-radius: .2rem;
  }

  .player-console {
    border: 1px solid black;
  }

  .board-names {
    text-align: center;
  }